$white:             #fff;
$black:             #000;
$orangered:         #FF4500;
$background:        #1b1b1b;
$font-color:        #333;
$nav-font-color:    #787878;
$font-hover:        #d7ba7e;


// screen size
$wideTablet-bp:       1050px;
$tablet-bp:       991px; //real 991px (just +110px)
$mobile-bp:       700px;  //real 575px (just +64px)
